.modal{
  height                  : 0;
  width                   : 100vw;
  z-index                 : 100;
  background-color        : transparent;
  border                  : none;
  visibility              : hidden;
  position                : absolute;
  top                     : 0;
  right                   : 0;
  transition              : .3s ease;

  padding                 : 30px;
  display                 : grid;
  grid-template-columns   : repeat(2, 1fr);
  grid-template-rows      : repeat(5, 1fr);

  * {
    grid-column-start: 1;
    grid-column-end: 3;

    display               : flex;
    opacity               : 0;
    visibility            : hidden;
    transition            : 0;
  }
}

.opened{
  height                  : 100vh;
  background-color        : rgba(0, 0, 0, 0.973);
  border-left             : 5px solid var(--purple1);
  visibility              : visible;
  transition              : .3s ease;
  * {
    opacity               : 1;

    transition            : .3s .4s ease;
    visibility            : visible;
  }
}

.title{
  grid-row-start: 1;
  grid-row-end: 2;
}

.description{
  grid-row-start: 2;
  grid-row-end: 5;
}

.buttons{
  grid-row-start: 5;
  grid-row-end: 6;
}

.title,
.description{
  flex-direction          : column;
  gap: 20px;
  h2 {
    border-top            : 3px solid rgb(255, 255, 255);
    color                 : black;
    font-size             : 3rem;
    background-color      :  gray;
    padding-top           : 10px;
    line-height           : 1.8rem;
    letter-spacing        : .8rem;
    text-transform        : uppercase;
    font-family           : 'Kanit', sans-serif;
  }
  textarea{
    flex                  : 1;
    background-color      : rgb(25, 25, 25);
    color                 : white;
    border                : none;
    resize                : none;
    font-size             : 2rem;
    box-shadow            : inset 0px -2px 0 0px gray;
    transition            : .1s ease;
    padding: 5px;

    &:focus{
      box-shadow            : inset 0px -5px 0 0px $col-purple;
    }
  }
}

.title {
    margin-bottom         : 20px
}

.buttons{
  gap: 40px;
  align-items             : center;
  * {
    justify-content       : space-around;
    align-items           : center;
    width                 : 100%;
    height                : 50%;
    transition: .3s ease;
  }
  #close{
    border                : 1px solid gray;
    &:hover{
      border              : 1px solid $col-purple;
      color               : $col-purple;
    }
  }
  #save {
    background-color      : gray;
    color                 : black;
    &:hover{
      background-color    : $col-purple;
    }
  }

}
