

.modal{
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  display:grid;
  grid-template-areas:
  "title title title"
  "desc desc desc"
  "nada close save";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.modal input,
.modal textarea{
  border: none;
  cursor: default;
}

.modal input{
  border-bottom: 3px solid lightgray;
  font-size: 2.6rem;
  grid-area: title;
  align-self: center;
  position: relative;
}
.modal input:after{
  content: 'Title';
  color: lightgray;
  position: absolute;
}
.modal textarea{
  resize: none;
  border-left: 1px solid lightgray;
  padding: 13px;
  grid-area: desc;
}

.close,
.save {
  border-radius: 40px;
  cursor: pointer;
  font-size: 2rem;
  height: 60%;
}

.modal .close{
  grid-area: close;
  box-shadow: 0 0 0 3px lightgray inset;
  color: lightgray;

}
.modal .save{
  grid-area: save;
  color: white;
  background-color: var(--blue3);

}
